#root {

  text-align: center;
  background-image: url("https://m.media-amazon.com/images/M/MV5BZjRjOTFkOTktZWUzMi00YzMyLThkMmYtMjEwNmQyNzliYTNmXkEyXkFqcGdeQXVyNzQ1ODk3MTQ@._V1_FMjpg_UX1000_.jpg");
  background-position: 100%;
  background-size: 100%;
  background-attachment: fixed;
  
}
