body {
    background-image: url("https://i.pinimg.com/736x/68/04/f9/6804f94f08de92dd38c664a70a6decfa.jpg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: aqua;
}
img {
    height: 400px
}